<ons-page>
<ons-list modifier="inset" class="list-search">
<ons-list-header class="search-header-list" style="text-align: center;"> 
	<div class="left-serch-list"><ons-back-button class="back-button__icon-list"></ons-back-button></div>
	<ons-search-input id="ssearchx"
    placeholder="¿Para qué necesitas abogado?"
    onchange="searchINX('searched.html')"
    style="width: 85%; float: right; padding-right: 10px;"
    ></ons-search-input>
    <div class="tags-search-list" id="tagssearch"></div>
</ons-list-header>

	{{#each data as |user userId| }}
		<ons-list-item modifier="chevron" class="list-search-item" id="{{userId}}tabprofile" data-especialidades="" tappable >
			<div class="left">
				{{#if user.avatar}}
				<img class="list-item__thumbnail" src="{{user.square}}">
				{{else}}
				<img class="list-item__thumbnail" src="img/avatar.png">
				{{/if}}
			</div>
			<div class="center">

				<span class="calification">{{user.evaluacion}}</span>
				<span class="list-item__title">{{user.nombre}} {{user.apellidos}}</span>
				<span class="list-item__subtitle">On the Internet</span>

				<span class="list-item__subtitle description-list">
				 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor massa at enim aliquet feugiat. Suspendisse dui elit, sodales vel imperdiet a, molestie sed mi. 
			</span>
			</div>
			
			<script type="text/javascript">
			var public_especialidad = [];
			</script>
			{{#each user.especialidades as |especialidad especialidadId|}}
			  <script type="text/javascript">
			  	public_especialidad.push({
			  		id: "{{especialidad.id}}",
			  		nombre: "{{especialidad.nombre}}"
			  	});
			  </script>
			{{/each}}
		</ons-list-item>
		<script type="text/javascript">
		   console.log('************>'+public_especialidad);
		   var especialidad = JSON.stringify(public_especialidad);
		   $("#{{userId}}tabprofile").data('especialidades', especialidad);
		   $("#{{userId}}tabprofile").click(function(){
		   	    var especialidad = $("#{{userId}}tabprofile").data('especialidades');
			    var share = {
		    		nombre: "{{user.nombre}}",
		    		evaluacion_por_litigio: "{{user.evaluacion_por_litigio}}",
		    		apellidos: "{{user.apellidos}}",
		    		acerca_de_mi: "{{user.acerca_de_mi}}",
		    		curriculum: "{{user.curriculum}}",
		    		email: "{{user.email}}",
		    		telefono: "{{user.telefono}}",
		    		ext: "{{user.ext}}",
		    		celular:"{{user.celular}}",
		    		evaluacion: "{{user.evaluacion}}",
		    		destacar: "{{user.destacar}}",
		    		direccion: "{{user.direccion}}",
		    		avatar: "{{user.avatar}}",
		            especialidades: JSON.parse(especialidad)
	    	    }
	    	    console.log('------------>'+especialidad);
			var json = {user: share, abogado: true, return: true};
	        var tpl = "user";
	        var idx = "searcheduser .page__content";
	        console.log(json);
	        loadView(json,tpl,idx);
	        changePage("searcheduser.html");
        });
		</script>
	{{/each}}
</ons-list>
</ons-page>


