<script type="text/javascript">
  document.querySelector('ons-tabbar#myusertabbar{{user.id}}').setTabbarVisibility(false);
  function changeTabContact() {
    document.getElementById("myusertabbar{{user.id}}").setActiveTab(3);
  }

  function changeTaUserx() {
    document.getElementById("myusertabbar{{user.id}}").setActiveTab(0);
  }

	$(document).ready(function(){
		  setTimeout(function(){
		  	$( "#datepicker" ).datepicker();
		  },500);
	  
	});

</script>
<ons-page>
	<ons-tabbar id="myusertabbar{{user.id}}" visible="false" animation-options="{duration: 0.2, delay: 1, timing: 'ease-in'}">
	    <ons-tab page="page1.html" active>CV genral</ons-tab>
	    <ons-tab page="page2.html">Info</ons-tab>
	    <ons-tab page="page3.html">Comentarios</ons-tab>
	    <ons-tab page="page4.html">Contactar</ons-tab>
	    <ons-tab page="page5.html">Lista de citas o llamadas</ons-tab>
	    <ons-tab page="page6.html">Editar perfil</ons-tab>
	    <ons-tab page="page7.html">Equipos</ons-tab>
        <ons-tab page="page8.html">Agregar a equipo</ons-tab>
	</ons-tabbar>

	<template id="page1.html">
	  <ons-page>
	  	{{#if return}}
		    <ons-toolbar class="toolbar" modifier="transparent cover-content" static="true">
				<div class="left"><ons-back-button></ons-back-button></div>
				<div class="center"></div>
			    <div class="right">
			    	{{#sessionTrue}}
			    	<div id="contactButton">
	                <ons-button-toolbar style="font-size: 12px; margin-left:-40px; color: #fff;" onclick="changeTabContact();"> CONTACTAR <ons-icon icon="fa-comment" style="font-size:30px; color:#fff;" ripple> </ons-icon></ons-toolbar-button>
	                </div>
	                {{/sessionTrue}}
	                {{#sessionFalse}}
	                <div id="contactButton">
	                <ons-button-toolbar style="font-size: 12px; margin-left:-40px; color: #fff;" onclick="changeTab();"> CONTACTAR <ons-icon icon="fa-comment" style="font-size:30px; color:#fff;" ripple> </ons-icon></ons-toolbar-button>
	                </div>
	                {{/sessionFalse}}
	            </div>
	    </ons-toolbar>
	    {{/if}}
	  	<ons-speed-dial position="bottom right" direction="up">
		    <ons-fab>
		      <ons-icon icon="md-share"></ons-icon>
		    </ons-fab>
		    <ons-speed-dial-item>
		      <ons-icon icon="md-twitter"></ons-icon>
		    </ons-speed-dial-item>
		    <ons-speed-dial-item>
		      <ons-icon icon="md-facebook"></ons-icon>
		    </ons-speed-dial-item>
		 </ons-speed-dial>
	  	<img src="{{user.avatar}}" width="100%;" style="margin-top:-45px;">
	  	<ons-list>
	  		 {{#ifCurrentUser user.email}}
	  		 <ons-list-item>
	  		 	     <ons-button modifier="quiet" onclick="changeCitas();">Citas</ons-button>
	  		 	     <ons-button modifier="quiet" onclick="editarPerfil();">Editar</ons-button>
	  		 	      {{#ifCond abogado true }}
	  		 	     <ons-button modifier="quiet" onclick="teams();">Equipo</ons-button>
	  		 	      {{/ifCond}}
	  		 	     <ons-button modifier="quiet" onclick="exit();">Salir</ons-button>
	  		 </ons-list-item>
	  		 {{/ifCurrentUser}}
	    </ons-list>
	    {{#ifCond abogado true}}
		 <ons-list>
		  <ons-list-item>
		  	<p><center>Especialidades</center></p>
		  	<p>
		  	{{#each user.especialidades}}
		  	   <span class="uk-label">
		  	   	 {{nombre}}
		  	   </span>
		  	{{/each}}
		    </p>
		  </ons-list-item>
		  <ons-list-item>{{user.nombre}} {{user.apellidos}}</ons-list-item>
		  <ons-list-item>{{user.almamater}}</ons-list-item>
		  <ons-list-item>{{user.acerca_de_mi}}</ons-list-item>
		  <ons-list-item>{{user.curriculum}}</ons-list-item>
		  <ons-list-item>{{user.email}}</ons-list-item>
		</ons-list>
		{{else}}
		<ons-list>
	     <ons-list-item>{{user.nombre}} {{user.apellidos}}</ons-list-item>
	     <ons-list-item>{{user.email}}</ons-list-item>
	     <ons-list-item>{{user.celular}}</ons-list-item>
		</ons-list>
		{{/ifCond}}
	  </ons-page >
	</template>
	<template id="page2.html">
	  <ons-page>
		<ons-list>
		  <ons-list-item>{{user.nombre}} {{user.apellidos}}</ons-list-item>
		</ons-list>
	  </ons-page >
	</template>
	<template id="page3.html">
	  <ons-page>
		<ons-list>
		  <ons-list-item>{{user.nombre}} {{user.apellidos}}</ons-list-item>
		  <ons-list-item>{{user.email}}</ons-list-item>
		</ons-list>
	  </ons-page >
	</template>
	<template id="page4.html">
	  <ons-page>
		 <ons-toolbar class="toolbar" modifier="transparent cover-content" static="true">
			<div class="left"><ons-back-button></ons-back-button></div>
			<div class="center">Contactar</div>
	     </ons-toolbar>
	     <ons-page>
	     	<br/><br/><br/>
	     	<center>
	     		<p style="text-align:justify; padding: 20px;">Mediante este formulario se programará una cita para una visita a nuestras oficinas o una video llamada para platicar de la razón por la que nos contacta.</p>
	     		<input type="text" id="datepicker" name="date" class="text-input text-input--material" placeholder="Selecciona una fecha" style="width:90%;"><br/><br/><br/>
	     		<input type="time" id="appt-time" name="appt-time" min="9:00" max="18:00" class="text-input text-input--material"  style="width:90%;" required/><span >Horaraio para citas: 9AM a 6PM</span><br/><br/><br/>

	     		<textarea id="textInContact" name="asunto" class="textarea" style="width:90%;" placeholder="Asunto a tratar"></textarea><br/><br/>
	     		<label class="checkbox">
				  <input type="checkbox" class="checkbox__input" name="programar_llamada" id="checpick">
				  <div class="checkbox__checkmark"></div>
				   ¿Es una llamada o video llamada ?
				</label><br/><br/>
				<input type="text" name="user" value="{{user.email}}" id="usercontact" style="display:none;">
	     		<ons-button class="button--cta" onclick="contactform();" modifier="large">Enviar Solicitud</ons-button>
	        </center>
	     </ons-page>
	  </ons-page>
	</template>
	<template id="page5.html">
	  <ons-page id="page5user">
	  	<ons-toolbar class="toolbar" static="true">
			<div class="left"><ons-back-button onclick="changeTaUserx();"></ons-back-button></div>
			<div class="center">Mis citas</div>
	    </ons-toolbar>
	  </ons-page >
	</template>

	<template id="page6.html">
	  <ons-page id="page6user">
	  	<ons-toolbar class="toolbar" static="true">
			<div class="left"><ons-back-button onclick="changeTaUserx();"></ons-back-button></div>
			<div class="center">Editar Perfil</div>
	    </ons-toolbar>
	    <center><br/><br/><br/><br/>
	    <input type="text" id="nombreedit" name="nombreedit" class="text-input text-input--material" placeholder="Nombre" style="width:90%;" value="{{user.nombre}}"><br/><br/>

	    <input type="text" id="apellidoedit" name="apellidoedit" class="text-input text-input--material" placeholder="Apellido" style="width:90%;" value="{{user.apellidos}}"><br/><br/>

	    <input type="text" id="emailedit" name="emailedit" class="text-input text-input--material" placeholder="Email" style="width:90%;"  value="{{user.email}}"><br/><br/>

	    <input type="text" id="celularedit" name="celularedit" class="text-input text-input--material" placeholder="Celular" style="width:90%;" value="{{user.celular}}"><br/><br/>

	    <input type="text" id="telefonoedit" name="telefonoedit" class="text-input text-input--material" placeholder="Teléfono" style="width:90%;" value="{{user.telefono}}"><br/><br/>

	    <input type="text" id="extedit" name="extedit" class="text-input text-input--material" placeholder="Extensión" style="width:90%;" value="{{user.ext}}"><br/><br/>
  
        <input type="text" id="abogadoedit" name="abogadoedit" class="text-input text-input--material" placeholder="Abogado" style="width:90%;" value="{{abogado}}"><br/><br/>

	    <ons-button class="button--cta" onclick="useredit();" modifier="large">Actualizar usuario</ons-button>
	    </center>
	  </ons-page >
	</template>
	<template id="page7.html">
	  <ons-page id="page7user">
	  	<ons-toolbar class="toolbar" static="true">
			<div class="left"><ons-back-button onclick="changeTaUserx();"></ons-back-button></div>
			<div class="center">Mi equipo</div>
	    </ons-toolbar>
	    <ons-fab position="bottom right" onclick="formteams()">
		    <ons-icon icon="md-plus"></ons-icon>
		</ons-fab>

	  </ons-page >
	</template>

	<template id="page8.html">
	  <ons-page id="page8user">
	  	<ons-toolbar class="toolbar" static="true">
			<div class="left"><ons-back-button onclick="teams();"></ons-back-button></div>
			<div class="center">Agregar al equipo</div>
	    </ons-toolbar>
	  </ons-page >
	</template>
</ons-page>
<script type="text/javascript">
	function changePageUser(pushpage){
		document.querySelector('#userNavigator').pushPage(pushpage);
	}
    

    function contactform(){
    	 var fecha = document.getElementById('datepicker').value;
    	 var hora = document.getElementById('appt-time').value; 
  		 var asunto = document.getElementById('textInContact').value;
		 var programar_llamada = document.getElementById('checpick').value;
		 var usercontact = document.getElementById('usercontact').value;
		 var userSession = window.localStorage.getItem("userSession");
		 userSession = JSON.parse(userSession);

  		 var params_to_send = {
  		 	fecha: fecha,
  		 	hora: hora,
  		 	asunto: asunto,
  		 	programar_llamada: programar_llamada,
  		 	usuario_contactado: usercontact,
  		 	cliente_email: userSession.user.email
  		 }
         var url = "http://localhost:3000/api/global/contact";

         $.ajax({
		    url: url,
		    cache: true,
		    data: params_to_send,
		    method: 'POST',
		    success: function(data) {
		      console.log(data);
		      text = data.notice;
		      ons.notification.alert(text);
		      changeTaUserx();
		    },
		    error: function(err) {
		      callback(null, err);
		    }
		 });

    }

    function changeCitas(){
	  	document.getElementById("myusertabbar{{user.id}}").setActiveTab(4);
	  	var url = "http://localhost:3000/api/global/contacts";
		var paramsx = {email: "{{user.email}}", abogado: "{{abogado}}"};
		var idx = "page5user .page__content";
		externalpageloadSimplifyToCitas("citas", idx, url, paramsx, 'GET');
	}
	 
	function editarPerfil(){
	  	document.getElementById("myusertabbar{{user.id}}").setActiveTab(5);
	}

	function teams(){
	  	document.getElementById("myusertabbar{{user.id}}").setActiveTab(6);
	  	var url = "http://localhost:3000/api/law/team";
	  	var userSession = window.localStorage.getItem("userSession");
		userSession = JSON.parse(userSession);
		var paramsx = {user: userSession.user.email};
		var idx = "page7user .page__content";
		externalpageloadAbogadosConEquipos("team", idx, url, paramsx, 'GET');
	}

	function formteams(){
	  	document.getElementById("myusertabbar{{user.id}}").setActiveTab(7);
	  	var url = "http://localhost:3000/api/law/all";
	  	var userSession = window.localStorage.getItem("userSession");
		userSession = JSON.parse(userSession);
		var paramsx = {user: userSession.user.email};
		var idx = "page8user .page__content";
		externalpageloadAbogados("add_abogado", idx, url, paramsx, 'GET');
	}

	function useredit(){
		 var nombre = document.getElementById('nombreedit').value;
		 var apellidos = document.getElementById('apellidoedit').value;
		 var email = document.getElementById('emailedit').value;
		 var celular = document.getElementById('celularedit').value;
		 var telefono = document.getElementById('telefonoedit').value;
		 var ext = document.getElementById('extedit').value;
		 var abogado = document.getElementById('abogadoedit').value;


		 var params_to_send = {
  		 	nombre: nombre,
  		 	apellidos: apellidos,
  		 	email: email,
  		 	celular: celular,
  		 	telefono: telefono,
  		 	ext: ext,
  		 	abogado: abogado
  		 }
         var url = "http://localhost:3000/api/global/edit";

         $.ajax({
		    url: url,
		    cache: true,
		    data: params_to_send,
		    method: 'POST',
		    success: function(data) {
		        console.log(data);
		      	sessionNINg = window.localStorage.setItem("loggedIn", true);
		      	sessionNINg = window.localStorage.getItem("loggedIn");
		      	userSession = window.localStorage.setItem("userSession", JSON.stringify(data.user));
		      	userSession = window.localStorage.getItem("userSession");
		      	userSession = JSON.parse(userSession);
		        ons.notification.alert(data.notice);
		      	console.log(userSession);
		      	console.log(sessionNINg);
		      	window.location.reload();
		    },
		    error: function(err) {
		      callback(null, err);
		    }
		 });;

	}
</script>


